input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.agregar {
    font-size: large;
}

.menu {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 20px 30px 0 30px;
  width: calc(100% - 60px);
  border: 2px solid rgb(211, 153, 99);
  background-color: rgb(182, 125, 68);
  border-radius: 10px;
}

.menu .nav {
  flex: 1;
  display: flex;
  gap: 15px;
}

.carritocompra {
  margin-left: auto;
}

.carta {
  padding: 15px;
  color: beige;
}

.carta:last-child {
  border-right: none;
}

.nav-item {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: beige;
}

.cantidadtitle {
    margin-top: 30px;
    font-size:250%;
    color: rgb(211, 153, 99);
}

.cantidad {
    background-color: rgb(211, 153, 99);
    margin-bottom: 20px;
}

.btn-outline-warning {
    color: beige;
}

.cantidad .btn,
.cantidad input {
    border-radius: 0 !important;
}

.comprar {
    display: inline-block;
    margin: 30px auto 0 auto;
    height: 50px;
    width: 300px;
    align-content: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(255, 243, 229);
}
