.menu {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  margin: 20px 30px 0 30px;
  width: calc(100% - 60px);
  border: 2px solid rgb(211, 153, 99);
  background-color: rgb(182, 125, 68);
  border-radius: 10px;
}

.menu .nav {
  flex: 1;
  display: flex;
  gap: 15px;
}

.carritocompra {
  margin-left: auto;
}

.carta {
  color:beige;
  font-family: cursive;
  padding: 15px;
}

.carta:last-child {
  border-right: none;
}

.nav-item {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 160px;
  width: 160px;
  border: 2px solid rgb(211, 153, 99);
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  padding-bottom: 50px;
  background-color: rgb(255, 243, 229);
}


    .menu h1 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    .menu img {
      height: 50px;
    }

    .card {
        width: 160px;
      height: 160px;
      padding: 0.5rem;
    }

    .card-img-top {
      max-height: 70px;
      object-fit: contain;
      margin-top: 0.5rem;
    }

    .card-title {
      font-size: 0.9rem;
      margin-top: 0.5rem;
    }

    @media (min-width: 768px) {
      .card {
        height: auto;
      }

      .card-img-top {
        max-height: 120px;
      }

      .card-title {
        font-size: 1rem;
      }

      .menu h1 {
        font-size: 2rem;
      }

      .menu img {
        height: 100px;
      }
    }